body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.footer {
  background-color: white;
  color: black;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  justify-content: center; /* Center items horizontally */
  box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.2), /* Bottom shadow */
              8px 0px 8px rgba(0, 0, 0, 0.2), /* Right side shadow */
              -8px 0px 8px rgba(0, 0, 0, 0.2); /* Left side shadow */
  font-size: 16px; /* Set font size */
  font-weight: bold; /* Set font weight */
}


.footer-links {
  margin-bottom: 5px; /* Add margin to separate lines */
}

.footer-links a {
  text-decoration: none;
  color: black;
  margin: 0 10px; /* Add margin for spacing */
}

.rights-reserved {
  width: 100%; /* Ensure the text spans the full width */
}

/* Media queries for responsive design */

/* Small screens */
@media screen and (max-width: 576px) {
  .footer {
    padding: 5px; /* Further reduce padding for smaller screens */
  }
}

/* Medium screens */
@media screen and (min-width: 577px) and (max-width: 768px) {
  /* Adjust styles for medium screens if needed */
}

/* Large screens */
@media screen and (min-width: 769px) and (max-width: 992px) {
  /* Adjust styles for large screens if needed */
}

/* Extra large screens */
@media screen and (min-width: 993px) {
  /* Adjust styles for extra large screens if needed */
}