.content-wrapper {
    min-height: 100vh; /* Set minimum height for full viewport */
    margin-top: 100px; /* Add additional space above content (adjust as needed) */
    padding-bottom: 60px; /* Add space before the footer */
  }
  
.get-involved-section {
    text-align: center;
}

.join-mission {
    margin: 0 auto;
    max-width: 800px;
}

.join-mission h2 {
    font-weight: bold;
}

.join-mission ul {
    padding-left: 20px;
    margin-bottom: 20px; /* Add bottom margin */
}

.join-mission ul li {
    list-style: none; /* Remove default bullet points */
}

.join-mission ul li::before {
    content: "\2022"; /* Add bullet character */
    font-size: 1.5rem;
    margin-right: 10px; /* Adjust spacing between bullet and text */
}

.join-mission ul li strong {
    font-weight: bold;
}

.join-mission ul li:last-child::before {
    margin-left: -10px; /* Adjust this value as needed */
}

.space-above {
    margin-top: 20px; /* Add space above Join Our Mission */
}

.space-below {
    margin-bottom: 20px; /* Add space below each section */
}

/* Media queries for responsive design */
@media screen and (max-width: 768px) {
    .join-mission {
        max-width: 90%;
    }
}