.get-involved-section {
    text-align: center;
}

.join-mission {
    margin: 0 auto;
    max-width: 800px;
}

.join-mission h2 {
    font-weight: bold;
}

.join-mission ul {
    list-style-type: disc;
}

.join-mission ul li strong {
    font-weight: bold;
}

/* Media queries for responsive design */
@media screen and (max-width: 768px) {
    .join-mission {
        max-width: 90%;
    }
}